table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th{
    color: #fff;
    background-color: #4682b4;
}